.toolbar {
  position: fixed;
  transform: translateX(-100%);
}

.toolbar > .btn {
  display: block;
  padding-left: 5px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  font-size: 1.27em;
  line-height: 2em;
}

.videos {
  padding-left: .5cm;
  padding-right: .5cm;
  background-color: rgba(109, 228, 202, 0.185);
  padding-top: 1cm;
  padding-bottom: .01cm;
}

.videos .love {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: white;
}

.videos > .block {
  display: grid;
  grid-template-areas: "block-image block-title block-delete" "block-image . ." "block-image block-content .";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr auto;
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.459);
  margin-bottom: 1cm;
  padding: 20px;
}

.videos > .block .block-title {
  font-size: 1.5em;
  grid-area: block-title;
}

.videos > .block > .block-image {
  grid-area: block-image;
}

.videos > .block > .block-image > iframe {
  width: 100%;
}

.videos > .block .block-content {
  grid-area: block-content;
}

.videos > .block .block-delete {
  grid-area: block-delete;
  padding: .4cm;
  background-color: #ccc;
}

.videos > .block .block-delete:hover {
  background-color: bisque;
}
