
$radius: 10px;
.toolbar{
  position: fixed;
  transform: translateX(-100%);

  > .btn {
    display: block;
    padding-left: 5px;
    text-align: center;
    border-radius: $radius 0 0 $radius;
    
    // text
    // > & :after{
    //   content: '  ';
    // }
    font-size: 1.27em;
    line-height: 2em;
  }
  .add{
    // background-color: #eee;
    // color: grey;
  }

  .delete{
    // background-color: #eee;
    // color: white;
  }
}

$delta-top: 1cm;
.videos{
  padding-left: .5cm;
  padding-right: .5cm;
  background-color: rgba(109, 228, 202, 0.185);

  padding-top: $delta-top;
  padding-bottom: .01cm;

  .love{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
  } 

  > .block{
    display: grid;
    grid-template-areas: "block-image block-title block-delete" "block-image . ." "block-image block-content .";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr auto;
    grid-gap: 10px;

    background-color: rgba(255, 255, 255, 0.459);
    margin-bottom: $delta-top;
    padding: 20px;
    
    .block-title{
      font-size: 1.5em;
      grid-area: block-title;

    }

    > .block-image{
      grid-area: block-image;
      > iframe{
        width: 100%;
      }
      // display:none;
    }

    .block-content{
      grid-area: block-content;
    }

    .block-delete{
      grid-area: block-delete;
      padding: .4cm;
      background-color: #ccc;
    }

    .block-delete:hover{
      background-color: bisque;
    }
    
  }
}