<section class="toolbar">
  <h2 class="add">+</h2>
  <h2 class="delete">-</h2>
</section>
<section class="videos">
  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/Ya_4rht4DG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  <div class="love">
    My love is
  </div>
  <div class="block" *ngFor="let x of items">
    <div class="block-title">{{x.title}}</div>
    <div class="block-content">
      {{x.description}}
    </div>
    <div class="block-image">
      <iframe [src]="x.link" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="block-delete">
      X
    </div>
    <circle-progress [percent]="85" [radius]="20" title="test">
    </circle-progress>
  </div>
</section>

<button class="btn btn-primary" type="button" (click)="getFavors();">Text</button>