.navbar {
  /* box-shadow: 0 10px 70px rgba(167, 159, 159, 0.9); */
  /* True green shadow */
  /* box-shadow: 0 10px 30px rgba(176, 240, 174, 0.9); */
  /* border-radius: 0 0 15px 15px; */
  position: relative;
  /* z-index: -1; */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
  /* height + margin-top */
  margin-bottom: 35px;
  /* border-radius: 0 40px 0 40px; */
}

.navbar-after {
  content: "Hello";
  text-align: center;
  display: inline-block;
  /* z-index: inherit; */
  width: 100%;
  height: 25px;
  /* height: 100vh; */
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 0;
  background-color: white;
  border-radius: 25px 25px 0 0;
}

.router {
  /* margin-top: 10px; */
  background-color: rgba(230, 230, 230, 0.205);
  /* To use z-index */
  position: relative;
  height: 100%;
}
