body {
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  max-width: 1200px;
  margin: auto;
}

.form, .form-red, .form-green {
  margin-top: 1cm;
  margin-bottom: 2cm;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  /* box-shadow: 0 10px 70px rgba(167, 159, 159, 0.9); */
  /* margin-bottom: 19px; */
  padding: 20px;
  border-radius: 10px;
}

.form-red {
  box-shadow: 0 10px 30px rgba(238, 72, 60, 0.9);
}

.form-green {
  box-shadow: 0 10px 30px rgba(155, 238, 60, 0.9);
}
