.form {
  margin-top: 1cm;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;

    /* box-shadow: 0 10px 70px rgba(167, 159, 159, 0.9); */
  box-shadow: 0 10px 50px rgba(238, 72, 60, 0.9);
  margin-bottom: 19px;
  padding: 20px;
  border-radius: 10px
}