<section class="register" (keyup.enter)="onLogin();" >
  <div class="form-red" (keyup)="formValid = password.value == check.value && !username.invalid && !password.invalid">
    <div class="form-group"><label for="">Username</label><input [(ngModel)]="user.username" type="text"
        class="form-control" #username="ngModel" required minlength="4" appAutofocus></div>
    <div class="form-group"><label for="">Password</label><input [(ngModel)]="user.password" type="password"
        class="form-control" #password="ngModel" required minlength="4"></div>
    <div class="form-group"><label for="">Repeat password</label><input type="password" #check class="form-control" ngModel
        #repeat="ngModel"></div>
    <!-- Validation cases -->
    <!-- Username -->
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
      <div *ngIf="username.errors.minlength">
        Username must be at least 4 characters long.
      </div>
    </div>
    <!-- Password -->
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 4 characters long.
      </div>
    </div>
    <!-- Password equality-->
    <div *ngIf="repeat.touched  && password.value != check.value" class="alert alert-danger">
        Password must be equal
    </div>
    <div class="custom-control custom-checkbox">
      <input class="custom-control-input validator" type="checkbox" name="" [checked]="formValid" disabled>
      <label for="my-input" class="custom-control-label">I write valid information</label>
    </div>

    <button *ngIf="formValid" class="btn btn-danger" type="button" (click)="onRegister();">Register</button>
    
    <!-- *ngIf="password.value != check.value || username.invalid || password.invalid" -->
  </div>
</section>